<div class="grid-container text-center font-mono">
  <div class="grid-boxes grid grid-cols-4 gap-4 border-2 border-red-500 p-5">
    <div class="grid-1 p-2 border-2 border-slate-600">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
      dolore, nostrum ad veniam sapiente dolorem ratione, ea voluptate vitae
      nulla tenetur atque iste dignissimos aperiam laudantium repellendus
      adipisci, laboriosam tempora.
    </div>
    <div class="grid-2 p-2 border-2 border-slate-600">Grid box 2</div>
    <div class="grid-3 p-2 border-2 border-slate-600">Grid box 3</div>
    <div class="grid-4 p-2 border-2 border-slate-600 col-span-2">
      <h2 class="text-blue-500">This is col-span-2 div</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
      cupiditate velit, iure ipsum ratione odio, veniam doloribus labore officia
      dolorem, in repellat tempore quidem nisi assumenda incidunt nam laboriosam
      delectus!sapiente
    </div>
    <div class="grid-5 p-2 border-2 border-slate-600">Grid box 5</div>
    <div class="grid-6 p-2 border-2 border-slate-600">Grid box 6</div>
    <div class="grid-7 p-2 border-2 border-slate-600">Grid box 7</div>
    <div class="grid-8 p-2 border-2 border-slate-600 col-span-3">
      Grid box 8
      <div class="grid grid-cols-2 p-2 gap-2">
        <div class="grid1 border-2 border-pink-400 p-1">child grid 1</div>
        <div class="grid1 border-2 border-pink-500 p-1">child grid 2</div>
        <div class="grid1 border-2 border-pink-600 p-1">child grid 3</div>
        <div class="grid1 border-2 border-pink-700 p-1">child grid 4</div>
        <div class="grid1 border-2 border-pink-800 p-1">child grid 5</div>
        <div class="grid1 border-2 border-pink-900 p-1">child grid 6</div>
      </div>
    </div>
    <div class="grid-9 p-2 border-2 border-slate-600">Grid box 9</div>
    <div class="grid-10 p-2 border-2 border-slate-600">Grid box 10</div>
    <div class="grid-9 p-2 border-2 border-slate-600">Grid box 11</div>
    <div class="grid-10 p-2 border-2 border-slate-600">Grid box 12</div>
  </div>
</div>

<p>Grid with images</p>
<div
  class="main-card grid grid-cols-2 border-2 border-purple-700 gap-4 font-mono"
>
  <div class="img-cont border-2 border-black">
    <img
      src="https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg"
      alt=""
      class="w-fit"
    />
  </div>
  <div class="text-cont border-2 border-black">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia
    quas facilis hic. Ullam magni, ut nobis quam qui voluptatibus aspernatur
    maiores ex laudantium velit ipsa enim nesciunt ratione. Repellendus
    quibusdam veniam repudiandae excepturi molestias atque ex impedit aut enim?
    <div
      class="login-card border-2 border-green-950 rounded-lg w-8/12 my-0 mx-auto p-8"
    >
      <h2 class="text-3xl text-center font-bold">Login</h2>
      <div class="my-8">
        <input
          type="text  "
          placeholder="Username"
          class="w-full p-2 outline-none border-b border-slate-800 text-xl"
        />
      </div>
      <div class="my-8">
        <input
          type="password "
          placeholder="Password"
          class="w-full p-2 outline-none border-b border-slate-800 text-xl"
        />
      </div>
      <div class="mt-10">
        <button
          class="w-full border-2 border-gray-900 py-2 px-6 font-semibold text-lg bg-teal-500"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>

<p>Grid with angular material</p>
<div class="material-cont border-2 border-blue-700 p-8">
  <div
    class="dropdown-container grid grid-cols-3 content-center gap-x-8 border-2 border-green-950"
  >
    <div class="drop1">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option> Maggie </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="drop2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option> Maggie </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="drop3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option> Maggie </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<p>NAVBAR</p>
<nav class="bg-slate-900 p-4 h-16 grid grid-cols-2 gap-4 content-center">
  <div class="logo-cont border-2 border-white">
    <img
      src="/assets/globe.svg"
      alt=""
      width="30px"
      class="bg-white rounded-full cursor-pointer"
    />
  </div>
  <div
    class="nav-links text-white text-lg border-2 border-white flex flex-row justify-around items-center"
  >
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Careers</a>
    <a href="">Contact</a>
  </div>
</nav>

<div class="grid-container-2 border-2 bg-yellow-300 mt-8 p-4">
  <div
    class="grid-box-2 border-4 border-black grid grid-rows-3 grid-flow-col gap-2 p-4"
  >
    <div class="gridbox1 p-2 bg-green-500">GRIDBOX1</div>
    <div class="gridbox1 p-2 bg-green-500">GRIDBOX2</div>
    <div class="gridbox1 p-2 bg-green-500 col-span-2">GRIDBOX3</div>
    <div class="gridbox1 p-2 bg-green-500 row-span-2">GRIDBOX4</div>
    <div class="gridbox1 p-2 bg-green-500">GRIDBOX5</div>
    <div class="gridbox1 p-2 bg-green-500">GRIDBOX6</div>
    <div class="gridbox1 p-2 bg-green-500 col-span-2">GRIDBOX7</div>
    <div class="gridbox1 p-2 bg-green-500">GRIDBOX8</div>
    <div class="gridbox1 p-2 bg-green-500">GRIDBOX9</div>
    <div class="gridbox1 p-2 bg-green-500 row-span-3">
      GRIDBOX10
      <div class="grid grid-cols-3 gap-2">
        <div class="flex1 p-2 bg-white rounded-lg">FLEX1</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX2</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX3</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX4</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX5</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX6</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX5</div>
        <div class="flex1 p-2 bg-white rounded-lg">FLEX6</div>
      </div>
    </div>
  </div>
</div>

<img
  id="scream"
  width="220"
  height="277"
  src="https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg"
  alt="The Scream"
/>
<p>Canvas:</p>
<canvas
  id="myCanvas"
  width="240"
  height="297"
  style="border: 1px solid #d3d3d3"
>
  Your browser does not support the HTML5 canvas tag.
</canvas>

<!-- <img
  id="scream2"
  width="220"
  height="277"
  src="https://www.shutterstock.com/shutterstock/photos/1862937556/display_1500/stock-photo-triangle-solid-black-golden-illustration-abstract-hd-download-1862937556.jpg"
  alt="The Scream"
/>
<p>Canvas:</p>
<canvas
  id="myCanvas2"
  width="240"
  height="297"
  style="border: 1px solid #d3d3d3"
>
  Your browser does not support the HTML5 canvas tag.
</canvas> -->
